/* DoctorRegister.css */

.doctor-register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .doctor-register-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .doctor-register-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .doctor-register-form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .doctor-register-form {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .doctor-register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .doctor-register-form input,
  .doctor-register-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .doctor-register-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .doctor-register-form button:hover {
    background-color: #45a049;
  }
  